<%- include("partials/header"); -%>

    <main class="flex-shrink-0">
        <div class="container">

            <h1 class="mt-5">
                <%= title %>
            </h1>
            <h2 class="lead">
            	By <%= authorName %>, <%= location %>
            </h2>
            <p class="lead">
                <%= content %>
            </p>
            
        </div>
    </main>


    <%- include("partials/footer"); -%>
